
.searchBox {
    margin-left: 270px;
    width: 640px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .label {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .searchField {
    font-size: 18px;
    width: 600px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  